.AppBar {
  align-items: center;
  background: #fa4032;
  color: #ffffff;
  display: flex;
  max-height: 56px;
  width: 100%;
  padding: 16px;
  position: sticky;
  top: 0;
  transition: all 200ms ease-in-out;

  &-actions {
    display: flex;
    margin: 0;
    min-height: 36px;
    padding: 0;

    @media screen and (max-width: 599px) {
      display: none;
    }
  }

  &-action {
    display: flex;

    &:not(:last-child) {
      margin-right: 24px;
    }

    > a {
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 1.25px;
      line-height: 36px;
      padding: 0 8px;
      transition: all 200ms ease-in-out;

      &.is-active {
        background: #ea1505;
      }

      &:hover {
        background: #fb665b;
      }

      &:focus {
        background: #fb665b;
      }
    }
  }

  &-button {
    border: none;
    border-radius: 50%;
    display: none;
    height: 36px;
    justify-content: center;
    margin-right: 24px;
    max-height: 36px;
    max-width: 36px;
    outline: none;
    padding: 0;
    transition: all 200ms ease-in-out;
    width: 36px;

    &:hover {
      background: #fb665b;
    }

    @media screen and (max-width: 599px) {
      display: flex;
    }
  }

  &-icon {
    line-height: 36px;
  }

  &-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: 800;
  }
}

.BottomDrawer {
  list-style-type: none;
  padding: 8px 0;

  &-action {
    cursor: pointer;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 600;
    max-height: 48px;
    margin: 4px 8px;
    padding: 8px;
    transition: all 200ms ease-in-out;

    &:hover {
      background: #fb665b;
      color: #ffffff;
    }
  }

  &-icon {
    margin-right: 32px;
  }
}
